.wrapper {
    display: grid;
    place-items: center;
    /* justify-content: space-between; */
    gap: 1rem;
    >.btns_wrapper {
        width: min-content;
        display: flex;
        gap: 1em;
        justify-content: space-between;
        align-items: center;
        >span {
            text-align: center;
            width: 15ch;
        }
    }
}