.match > a {
    display: flex;
    justify-content: space-between;
    gap: var(--space-l);
    align-items: center;
    padding-block: var(--space-s);
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
    text-decoration: none;

    &>* {
        display: flex;
        align-items: center;
    }

    * {
        margin: 0;
    }

    &:hover {
        background-color: hsl(var(--secondary), .25);
        cursor: pointer;
    }

    >.home,
    >.away {
        gap: var(--space-s);
        font-size: var(--fs-m);
        flex: 1;

        >p {
            max-width: 25ch;
        }

        >.logo {
            height: 48px;
            aspect-ratio: 1;
            object-fit: contain;
        }

        >.loser {
            color: hsl(var(--primary), .75);
        }
    }

    >.home {
        justify-content: flex-end;
    }


    >.score {
        justify-content: center;
        font-size: var(--fs-m);
        font-weight: 900;
        position: relative;

        >.status {
            font-weight: 600;
            letter-spacing: 1px;
            font-size: var(--fs-2xs);
            position: absolute;
            bottom: -0.75rem;
            color: hsl(var(--primary));
        }

        >.indicator {
            position: absolute;
            color: hsl(var(--accent));

            &.left {
                left: -1.5rem;
            }

            &.right {
                right: -1.5rem;
            }
        }
    }
}

.match+* {
    border-top: solid hsl(var(--primary), .1) .125rem;
}

.match:hover {
    border-bottom: solid hsl(var(--primary), .1) .125rem;

    &+* {
        border-top: unset;
    }
}