.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-s);

    &>* {
        display: flex;
        align-items: center;
    }

    * {
        margin: 0;
    }
}

.home,
.away {
    gap: var(--space-s);
    font-size: var(--fs-m);
    flex: 1;
}

.home {
    justify-content: flex-end;
}

.winner {
    font-weight: 600;
}

.loser {
    color: color-mix(in hsl, hsl(var(--tertiary)), hsl(var(--text)) 85%);
}

.score {
    margin-inline: var(--space-m);
    justify-content: center;
    font-size: var(--fs-l);
    font-weight: 900;
}

.indicator {
    color: lightgreen;
}

.logo {
    height: 48px;
    aspect-ratio: 1;
    object-fit: contain;
}