.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-s);
    background-color: transparent;
    transition: background-color 250ms ease-in-out;

    &>* {
        display: flex;
        align-items: center;
    }

    * {
        margin: 0;
    }

    &:hover {
        background-color: hsl(var(--tertiary), .35);
        cursor: pointer;
    }
}

.home,
.away {
    gap: var(--space-s);
    font-size: var(--fs-m);
    flex: 1;
}

.home {
    justify-content: flex-end;
}

.loser {
    color: color-mix(in lch, hsl(var(--tertiary)), hsl(var(--text), .75) 75%);
}

.score {
    margin-inline: var(--space-m);
    justify-content: center;
    font-size: var(--fs-l);
    font-weight: 900;
}

.indicator {
    color: lightgreen;
}

.logo {
    height: 48px;
    aspect-ratio: 1;
    object-fit: contain;
}